@use "../../sass/global/media-queries" as *;

.site-header {
  position: relative; // Anchor the blob.
  display: flex;
  justify-content: space-between;
}

.site-header__blob {
  display: contents; // Flexbox should ignore this.

  svg {
    position: absolute;
    z-index: -1;
    top: -180px;
    left: -290px;
    color: #eeeeee;

    @media ($hero-break) {
      color: var(--blue-dark);
    }
  }
}

.site-header__logo--small {
  margin-top: 30px;

  @media ($hero-break) {
    display: none;
  }

  img {
    width: 250px;
  }
}

.site-header__logo--large {
  display: none;

  @media ($hero-break) {
    display: block;
    margin-top: 60px;
  }
}

.site-header__button {
  @media ($nav) {
    display: none;
  }
}

.primary-nav__menu-item--level-1:last-child .primary-nav__menu-link {
  display: flex;
  align-items: center;
  height: 37px;
  margin-top: 40px;
  padding-inline: 20px;
  border: solid 2px currentColor;
  border-radius: 25px;
  color: var(--blue-bright);

  @media ($nav) {
    margin-top: unset;
  }
}
