@use "../../sass/global/media-queries" as *;

.site-header {
  position: relative; // Anchor the blob.
  display: flex;
  justify-content: space-between;
}

.site-header__blob {
  display: contents; // Flexbox should ignore this.

  svg {
    position: absolute;
    z-index: -1;
    top: -180px;
    left: -290px;
    color: var(--blue-dark);
  }
}

.site-header__logo {
  margin-top: 60px;
}

.site-header__button {
  @media ($nav) {
    display: none;
  }
}

.primary-nav__menu-item--level-1:last-child .primary-nav__menu-link {
  display: flex;
  align-items: center;
  height: 37px;
  padding-inline: 20px;
  border: solid 2px currentColor;
  border-radius: 25px;
  color: var(--blue-bright);

}
