@use "../../sass/global/media-queries" as *;

.secondary-menu {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  list-style: none;
  margin: var(--spacing-xl) 0 0;
  padding: 0;
  font-size: var(--body-2);
  font-weight: 600;
  color: var(--text-action);

  @media ($nav) {
    font-weight: unset;
    color: unset;
    margin: 0;
  }
}

.secondary-menu__item {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
