.title-card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  padding: 20px;
}

.title-card__title {
  margin-right: 40px;
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1.1px;
  text-wrap: balance;
}

.title-card__text {
  font-size: 20px;
  text-wrap: balance;
}