<div class="hero">
  <div class="hero__media">
    <img src="{{ componentMetadata.path ~ '/images/hero-image.png' }}" width="467" height="467">
  </div>
  <div class="hero__content">
    <p>
      <span class="blue">Connecting and serving all levels of government employees</span>
      <span class="gray">committed to open source technology</span>
    </p>
    <div class="hero__cta">
      <a href="#">Discover more</a>
      <a href="#">Contact us</a>
    </div>
  </div>
</div>
