.footer {
  margin-top: 200px;
  padding-block: 180px;
  background: #eee;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-bottom: 150px;
  border-bottom: solid 1px #ccc;
}

.footer__top-first {

}

.footer__top-second {

}

.footer__top-third {

}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-block: 45px;
}

.footer__bottom-first {

}

.footer__bottom-second {

}
