:root {
  --site-max-width: 1280px;
  --blue-light: #D4EBFF;
  --blue-bright: #0063DE;
  --blue-dark: #024699;
  --gray: #353D47;
  --component-spacing: 200px;
  --spacing: 20px;
  --font-sans: "DM Sans";
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --body-1: 17px;
  --h1: 32px;
  --h2: 28px;
  --h3: 20px;
  --h4: 16px;
  --h5: 15px;
  --h6: 13px;
}
@media (min-width: 700px) {
  :root {
    --h1: 40px;
    --h2: 32px;
    --h3: 22px;
  }
}